<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/admin.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="wrapper">
        <!-- header -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 pt-3 pt-lg-none d-lg-none">
                        <button class="btn btn-sm btn-light show-nav-btn fa fa-2x fa-bars" data-nav-class="navigation">
                            
                        </button>
                    </div>
                    <div class="col d-none d-lg-block pt-3">
                        <h2>Residential Real Estate</h2>
                    </div>
                    <div class="col text-right">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <img src="../images/member-1.jpg" class="rounded-circle" alt="" width="64" height="64">
                            </li>
                            <li class="list-inline-item">
                                <button class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Edit Account</a>
                                    <a class="dropdown-item" href="#">Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- navigation -->
        <div class="navigation">
            <div class="close show-nav-btn fa fa-close position-absolute text-light d-lg-none" data-nav-class="navigation"></div>
            <ul class="list-unstyled">
                <li>
                    <a href="./dashboard.html">
                        <i class="fa fa-tachometer"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="./properties.html">
                        <i class="fa fa-database"></i>
                        Properties
                    </a>
                </li>
                <li>
                    <a href="./add_property.html">
                        <i class="fa fa-plus"></i>
                        New Property
                    </a>
                </li>
                <li>
                    <a href="./deposits.html">
                        <i class="fa fa-bank"></i>
                        Deposits
                        <span class="pull-right badge-pill badge-success">5</span>
                    </a>
                </li>
                <li>
                    <a href="./messages.html">
                        <i class="fa fa-comment"></i>
                        Messages
                        <span class="pull-right badge-pill badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="./account.html">
                        <i class="fa fa-user"></i>
                        Account
                    </a>
                </li>
                <hr>
                <li>
                    <a href="./subscription.html">
                        <i class="fa fa-user-plus"></i>
                        Subscription
                    </a>
                </li>
                <hr>
                <li>
                    <a href="./logout.html">
                        <i class="fa fa-sign-out"></i>
                        Logout
                    </a>
                </li>
            </ul>
            <div class="follow">
                <h5 class="text-primary text-center">Follow Us</h5>
                <div class="list-inline">
                    <a class="list-inline-item" href="#">
                        <i class="fa fa-2x fa-facebook"></i>
                    </a>
                    <a class="list-inline-item" href="#">
                        <i class="fa fa-2x fa-twitter"></i>
                    </a>
                    <a class="list-inline-item" href="#">
                        <i class="fa fa-2x fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- main content area -->
        <div class="main-content">
            <div class="title">
                <h3 class="text-primary">Messages</h3>
            </div>
            <div class="search">
                <div class="search-form">
                    <input  type="search"  class="input" name="search" id="search">
                    <button class="btn btn-sm btn-dark text-light fa  fa-2x fa-search"></button>
                </div>
            </div>
            <div class="messages">
                <div class="message">
                    <div class="image">
                        <img src="../images/member-1.jpg" alt="" class="rounded-circle p-2" width="64" height="64">
                    </div>
                    <div class="message-body">
                        <h3 class="text-primary d-inline">User name may be long</h3>
                        <small class="text-muted d-inline-block"> 2021-02-28 02:58:23</small>
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <i class="fa fa-envelope text-muted"></i>
                                <a href="mailto:#">username@example.com</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-phone text-muted"></i>
                                <a href="tel:#">2547-123-12345</a>
                            </li>
                        </ul>
                        <p class="font-weight-bold">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor exercitationem accusantium, praesentium voluptas perferendis fugit tempora. Obcaecati illo, sequi accusantium minus adipisci quae, aliquid, delectus qui cupiditate consectetur nihil magnam?
                        </p>
                        <div class="action-list d-inline-flex justify-content-between align-items-center">
                            <input type="checkbox" name="select-all" id="select-all-1">
                            <button class="btn btn-sm mx-2">
                                <i class="fa fa-reply text-primary"></i>
                            </button>
                            <button class="btn btn-sm">
                                <i class="fa fa-trash text-danger"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="message">
                    <div class="image">
                        <img src="../images/member-1.jpg" alt="" class="rounded-circle p-2" width="64" height="64">
                    </div>
                    <div class="message-body">
                        <h3 class="text-primary d-inline">User name may be long</h3>
                        <small class="text-muted d-inline-block"> 2021-02-28 02:58:23</small>
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <i class="fa fa-envelope text-muted"></i>
                                <a href="mailto:#">username@example.com</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-phone text-muted"></i>
                                <a href="tel:#">2547-123-12345</a>
                            </li>
                        </ul>
                        <p class="font-weight-bold">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor exercitationem accusantium, praesentium voluptas perferendis fugit tempora. Obcaecati illo, sequi accusantium minus adipisci quae, aliquid, delectus qui cupiditate consectetur nihil magnam?
                        </p>
                        <div class="action-list d-inline-flex justify-content-between align-items-center">
                            <input type="checkbox" name="select-all" id="select-all-1">
                            <button class="btn btn-sm mx-2">
                                <i class="fa fa-reply text-primary"></i>
                            </button>
                            <button class="btn btn-sm">
                                <i class="fa fa-trash text-danger"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="message">
                    <div class="image">
                        <img src="../images/member-1.jpg" alt="" class="rounded-circle p-2" width="64" height="64">
                    </div>
                    <div class="message-body">
                        <h3 class="text-primary d-inline">User name may be long</h3>
                        <small class="text-muted d-inline-block"> 2021-02-28 02:58:23</small>
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <i class="fa fa-envelope text-muted"></i>
                                <a href="mailto:#">username@example.com</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-phone text-muted"></i>
                                <a href="tel:#">2547-123-12345</a>
                            </li>
                        </ul>
                        <p class="font-weight-normal">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor exercitationem accusantium, praesentium voluptas perferendis fugit tempora. Obcaecati illo, sequi accusantium minus adipisci quae, aliquid, delectus qui cupiditate consectetur nihil magnam?Obcaecati illo, sequi accusantium minus adipisci quae, aliquid, delectus qui cupiditate consectetur nihil magnam?
                        </p>
                        <div class="action-list d-inline-flex justify-content-between align-items-center">
                            <input type="checkbox" name="select-all" id="select-all-1">
                            <button class="btn btn-sm mx-2">
                                <i class="fa fa-reply text-primary"></i>
                            </button>
                            <button class="btn btn-sm">
                                <i class="fa fa-trash text-danger"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cta paging">

            </div>
        </div>
        <!-- footer  -->
        <div class="footer d-flex justify-content-between px-3 align-items-center">
            <p class="lead text-primary">Copyright &copy; 2021</p>
            <a href="#">Contact Admin</a>
        </div>
    </div>

    <script src="../assets/jquery/jquery.js"></script>
    <script src="../assets/popper/popper.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>