<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>About us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <!--	=============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <!--===============================================================================================-->
</head>

<body>
    <header>
        <div class="container p-0">
            <!-- navigation -->
            <nav class="navbar navbar-expand-sm bg-warning navbar-light">
                <div class="container">
                    <!-- Brand -->
                    <a class="navbar-brand d-sm-none" href="./index.html">Logo</a>
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="./index.html">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="./about.html">About</a>
                            </li>

                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Properties
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="./properties.html?type=single_room">Single Room</a>
                                    <a class="dropdown-item" href="./properties.html?type=bed_sitter">Bed Sitter</a>
                                    <a class="dropdown-item" href="./properties.html?type=other">Other</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contact.html">Contact Us</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-2x fa-search"></i>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </nav>
        </div>

    </header>
    <main>
        <div class="container py-2">
            <!-- about us -->
            <div id="about">
                <h2 class="text-center main-title">About Us</h2>
                <p class="lead">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur reiciendis voluptatum ullam,
                    sunt in quibusdam accusantium ab rem maxime fugit culpa vitae ratione magni sint facilis vel eaque
                    molestias deserunt consequatur harum nihil repudiandae sapiente. Expedita sit eius, repellat rerum
                    nulla eaque aperiam perspiciatis iste, tempore repudiandae quia quasi maxime!
                </p>
            </div>
            <!-- what we do -->
            <div class="row my-3" id="services">
                <div class="col-12 mb-2">
                    <h2 class="text-center section-title">What we do</h2>
                </div>
            </div>
            <div class="row mb-1 service">
                <div class="col-md-4">
                    <img src="../static/images/property-listing.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 service-body">
                    <h4 class="title">Property Listing</h4>
                    <p class="lead">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate dicta aliquid obcaecati sed
                        aut nostrum possimus consequatur quo delectus provident.
                    </p>
                </div>

            </div>
            <div class="row mb-1 flex-sm-row-reverse service">
                <div class="col-md-4">
                    <img src="../static/images/property-marketing.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 service-body">
                    <h4 class="title">Platform for Marketing</h4>
                    <p class="lead">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate dicta aliquid obcaecati sed
                        aut nostrum possimus consequatur quo delectus provident.
                    </p>
                </div>
            </div>


            <!-- team -->
            <div class="row mb-2 team">
                <div class="col-12 mb-1">
                    <h2 class="section-title text-center">Our Team</h2>
                </div>
                <div class="col-12 mb-2 members">
                    <div class="card bg-transparent border-secondary member">
                        <img src="../static/images/member-1.jpg" alt="" class="card-img-top w-100">
                        <div class="card-body member-body">
                            <h5 class="card-title">Person XYZ</h5>
                            <small class="card-text">Job Title </small>
                        </div>
                    </div>
                    <div class="card bg-transparent border-secondary member">
                        <img src="../static/images/member-2.jpg" alt="" class="card-img-top w-100">
                        <div class="card-body member-body">
                            <h5 class="card-title">Person XYZ</h5>
                            <small class="card-text">Job Title </small>
                        </div>
                    </div>
                    <div class="card bg-transparent border-secondary member">
                        <img src="../static/images/member-3.jpg" alt="" class="card-img-top w-100">
                        <div class="card-body member-body">
                            <h5 class="card-title">Person XYZ</h5>
                            <small class="card-text">Job Title </small>
                        </div>
                    </div>
                    <div class="card bg-transparent border-secondary member">
                        <img src="../static/images/member-4.jpg" alt="" class="card-img-top w-100">
                        <div class="card-body member-body">
                            <h5 class="card-title">Person XYZ</h5>
                            <small class="card-text">Job Title </small>
                        </div>
                    </div>
                    <div class="card bg-transparent border-secondary member">
                        <img src="../static/images/member-5.jpg" alt="" class="card-img-top w-100">
                        <div class="card-body member-body">
                            <h5 class="card-title">Person XYZ</h5>
                            <small class="card-text">Job Title </small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- cta links -->
            <div class="row">
                <div class="col-12 text-center">
                    <h5>Read More</h5>
                    <ul class="list-inline links">
                        <a href="#" class="list-inline-item">Testimonials</a>
                        <a href="#" class="list-inline-item">Terms & Conditions</a>
                        <a href="#" class="list-inline-item">Privacy Policy</a>
                        <a href="#" class="list-inline-item">Selling With Us</a>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!-- footer -->
        <div class="container footer">
            <div class="row p-2">
                <div class="col-sm">
                    <p class="lead text-sm-center">
                        Copyright &copy; 2021
                    </p>
                </div>
                <div class="col-sm">
                    <div class="list-inline text-sm-right">
                        <div class="list-inline-item ">
                            <a href="#" class="">
                                <i class="fa fa-2x fa-facebook"></i>
                            </a>
                        </div>
                        <div class="list-inline-item ">
                            <a href="#" class="">
                                <i class="fa fa-2x fa-twitter"></i>
                            </a>
                        </div>
                        <div class="list-inline-item ">
                            <a href="#" class="">
                                <i class="fa fa-2x fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--===============================================================================================-->
    <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/select2/select2.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/js/main.js}"></script>
    <!--=================================================================================================-->
    <script th:src="@{/js/alert.js}"></script>
    <!--=================================================================================================-->

</body>


</html>