<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="../static/assets/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Resisdential Real Estate</title>
  </head>

  <body>
    <header>
      <div class="container p-0">
        <!-- navigation -->
        <nav class="navbar navbar-expand-sm bg-warning navbar-light">
          <div class="container">
            <!-- Brand -->
            <a class="navbar-brand d-sm-none" href="./index.html">Logo</a>
            <!-- Toggler/collapsibe Button -->
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
              <!-- Links -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./about.html">About</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="./properties.html"
                    id="navbardrop"
                    data-toggle="dropdown"
                  >
                    Properties
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="./properties.html?type=single_room"
                      >Single Room</a
                    >
                    <a
                      class="dropdown-item"
                      href="./properties.html?type=bed_sitter"
                      >Bed Sitter</a
                    >
                    <a class="dropdown-item" href="./properties.html?type=other"
                      >Other</a
                    >
                  </div>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="./contact.html">Contact Us</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fa fa-2x fa-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="container py-2">
        <div class="row mb-2">
          <div class="col-sm-8 offset-sm-2">
            <h1 class="text-center main-title">Checkout</h1>
          </div>
        </div>
        <!-- checkout -->
        <div class="row mb-2">
          <div class="col-md-8 mb-2">
            <!-- selected items -->
            <div class="card bg-transparent border-success mb-1">
              <h3
                class="card-header text-center bg-success text-capitalize text-light"
              >
                Confirm Your Choices
              </h3>
              <div class="card-body">
                <table class="table table-responsive-lg table-bordered">
                  <thead>
                    <tr>
                      <th>Property</th>
                      <th>Capacity</th>
                      <th>Location</th>
                      <th>Deposit</th>
                      <th>Slots</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Property 1</td>
                      <td>Single Room</td>
                      <td>Gate</td>
                      <td>500</td>
                      <td>1</td>
                      <td>
                        <ul class="list-inline">
                          <a
                            href="#"
                            class="list-inline-item btn btn-link btn-sm"
                          >
                            View
                          </a>
                          <a
                            href="#"
                            class="list-inline-item btn btn-link btn-sm"
                          >
                            Confirm
                          </a>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>Property 1</td>
                      <td>Single Room</td>
                      <td>Gate</td>
                      <td>500</td>
                      <td>1</td>
                      <td>
                        <ul class="list-inline">
                          <a
                            href="#"
                            class="list-inline-item btn btn-link btn-sm"
                          >
                            View
                          </a>
                          <a
                            href="#"
                            class="list-inline-item btn btn-link btn-sm"
                          >
                            Confirm
                          </a>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>Property 1</td>
                      <td>Single Room</td>
                      <td>Gate</td>
                      <td>500</td>
                      <td>1</td>
                      <td>
                        <ul class="list-inline">
                          <a
                            href="#"
                            class="list-inline-item btn btn-link btn-sm"
                          >
                            View
                          </a>
                          <a
                            href="#"
                            class="list-inline-item btn btn-link btn-sm"
                          >
                            Confirm
                          </a>
                        </ul>
                      </td>
                    </tr>
                    <!-- amount to deposit -->
                    <tr>
                      <th colspan="3" class="text-right">Total Deposit</th>
                      <td colspan="3">Ksh <span class="amount">1500</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card bg-transparent border-info mb-1">
              <h3
                class="card-header text-center bg-info text-capitalize text-light"
              >
                Confirm Your Details
              </h3>
              <div class="card-body">
                <form action="" name="client-form" id="client-form">
                  <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input
                      type="text"
                      id="first_name"
                      name="first_name"
                      class="form-control form-control-sm"
                      placeholder="First Name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input
                      type="text"
                      id="last_name"
                      name="last_name"
                      class="form-control form-control-sm"
                      placeholder="Last Name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control form-control-sm"
                      placeholder="Email Address "
                    />
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input
                      type="tel"
                      id="phone"
                      name="phone"
                      class="form-control form-control-sm"
                      placeholder="Phone  Number"
                    />
                  </div>
                </form>
              </div>
            </div>
            <div class="card bg-transparent border-info mb-1">
              <h3
                class="card-header text-center bg-info text-capitalize text-light"
              >
                Deposit For Booking
              </h3>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 mb-1">
                    <form action="" name="deposit-form" id="deposit-form">
                      <div class="form-group">
                        <label for="deposit_phone">Phone</label>
                        <input
                          type="tel"
                          id="deposit_phone"
                          name="deposit_phone"
                          class="form-control form-control-sm"
                          placeholder="Phone  Number to pay with"
                        />
                      </div>
                      <div class="form-group">
                        <label for="transaction_id">Transaction ID</label>
                        <input
                          type="text"
                          id="transaction_id"
                          name="transaction_id"
                          class="form-control form-control-sm"
                          placeholder="Transaction ID"
                          disabled
                        />
                      </div>
                      <button
                        class="btn btn-warning btn-sm deposit-btn"
                        id="deposist-btn"
                      >
                        Make Deposit
                      </button>
                      <button
                        class="btn btn-sm checkout-btn disabled"
                        id="checkout-btn"
                        disabled
                      >
                        Complete Checkout
                      </button>
                    </form>
                  </div>
                  <div class="col-md-6 mb-1 details">
                    <p class="lead">
                      Pay deposit of Ksh <span class="amount">1500</span> to
                      MpesaTill Number
                      <span class="pay-bill-no">137415</span>
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Commodi reiciendis laudantium omnis repellat beatae
                      blanditiis magnam dignissimos maiores sit tempore!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="card bg-transparent border-info">
              <h3 class="text-center bg-transparent text-capitalize text-info">
                How To pay(manually)
              </h3>
              <div class="card-body">
                <p class="card-text">
                  On the M-PESA Menu Go to "Lipa Na M-PESA Select Buy Goods
                  <br />
                  Enter the Till Number of the outlet/or sales person you wish
                  to pay <br />
                  Enter the amount you wish to pay (between KSHs.50 –
                  KSHs.70,000) <br />
                  Enter your M-PESA PIN. <br />
                  Confirm that all details are correct and press OK <br />
                  You will receive a confirmation SMS from M-PESA immediately.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- footer -->
      <div class="container footer">
        <div class="row p-2">
          <div class="col-sm">
            <p class="lead text-sm-center">Copyright &copy; 2021</p>
          </div>
          <div class="col-sm">
            <div class="list-inline text-sm-right">
              <div class="list-inline-item">
                <a href="#" class="">
                  <i class="fa fa-2x fa-facebook"></i>
                </a>
              </div>
              <div class="list-inline-item">
                <a href="#" class="">
                  <i class="fa fa-2x fa-twitter"></i>
                </a>
              </div>
              <div class="list-inline-item">
                <a href="#" class="">
                  <i class="fa fa-2x fa-google-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="../static/assets/jquery/jquery.js"></script>
  <script src="../static/assets/popper/popper.js"></script>
  <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</html>
