<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="./assets/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Resisdential Real Estate</title>
  </head>

  <body>
    <header>
      <div class="container p-0">
        <!-- navigation -->
        <nav class="navbar navbar-expand-sm bg-warning navbar-light">
          <div class="container">
            <!-- Brand -->
            <a class="navbar-brand d-sm-none" href="./index.html"> LOGO </a>
            <!-- Toggler/collapsibe Button -->
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
              <!-- Links -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./about.html">About</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbardrop"
                    data-toggle="dropdown"
                  >
                    Properties
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="./properties.html?type=single_room"
                      >Single Room</a
                    >
                    <a
                      class="dropdown-item"
                      href="./properties.html?type=bed_sitter"
                      >Bed Sitter</a
                    >
                    <a class="dropdown-item" href="./properties.html?type=other"
                      >Other</a
                    >
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contact.html">Contact Us</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fa fa-2x fa-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="container py-5">
        <div class="row">
          <div
            class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 login-signup rounded border border-secondary p-0"
          >
            <div id="login" class="px-2">
              <form action="#" name="login-form" id="login-form">
                <div class="form-text mb-3">
                  <h3 class="text-info text-center">Member Login</h3>
                </div>
                <div class="input-group mb-2">
                  <input
                    type="email"
                    class="form-control"
                    name="login_email"
                    id="login_email"
                    placeholder="Email"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-envelope-square"></i>
                    </span>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input
                    type="password"
                    class="form-control"
                    name="login_password"
                    id="login_password"
                    placeholder="Password"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-user-secret"></i>
                    </span>
                  </div>
                </div>
                <div class="form-check mb-3">
                  <input
                    type="checkbox"
                    name="remember_me"
                    id="remember_me"
                    class="form-check-input"
                  />
                  <label for="remember_me" class="form-check-label"
                    >Remember Me</label
                  >
                  <a href="#" class="pull-right">Forgot Password?</a>
                </div>
                <button class="btn btn-dark text-warning">
                  <i class="fa fa-sign-in"> </i> Login
                </button>
                <hr />
                <p class="form-text text-center text-muted">
                  Or Creat a new Account.
                  <a href="#signup" class="btn btn-link">Click Here</a>
                </p>
              </form>
            </div>
            <div id="signup" class="px-2 d-none">
              <form action="#" name="signup-form" id="signup-form">
                <div class="form-text mb-3">
                  <h3 class="text-info text-center">Create New Account</h3>
                </div>
                <div class="from-group mb-2">
                  <input
                    type="text"
                    class="form-control"
                    name="first_name"
                    id="first_name"
                    placeholder="First Name"
                  />
                </div>
                <div class="from-group mb-2">
                  <input
                    type="text"
                    class="form-control"
                    name="last_name"
                    id="last_name"
                    placeholder="Last Name"
                  />
                </div>
                <div class="from-group mb-2">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Email Address"
                  />
                </div>
                <div class="from-group mb-2">
                  <input
                    type="text"
                    class="form-control"
                    name="phone"
                    id="phone"
                    placeholder="Phone Number"
                  />
                </div>
                <div class="form-group mb-2">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Password"
                  />
                </div>
                <div class="form-group mb-2">
                  <input
                    type="password_2"
                    class="form-control"
                    name="password_2"
                    id="password_2"
                    placeholder="Confirm Password"
                  />
                </div>
                <div class="form-check mb-3">
                  <input
                    type="checkbox"
                    name="accept"
                    id="accept"
                    class="form-check-input"
                  />
                  <label for="accept" class="form-check-label"
                    >By signin up you agree to our
                    <a href="#">Terms & Conditions</a> and commit yourself to
                    abide by them.
                  </label>
                </div>
                <button class="btn btn-dark w-25 text-warning">Sign Up</button>
                <hr />
                <p class="form-text text-center text-muted">
                  Already have an Account.
                  <a href="#login" class="btn btn-link">Click Here</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- footer -->
      <div class="container footer">
        <div class="row p-2">
          <div class="col-sm">
            <p class="lead text-sm-center">Copyright &copy; 2021</p>
          </div>
          <div class="col-sm">
            <div class="list-inline text-sm-right">
              <div class="list-inline-item">
                <a href="#" class="">
                  <i class="fa fa-2x fa-facebook"></i>
                </a>
              </div>
              <div class="list-inline-item">
                <a href="#" class="">
                  <i class="fa fa-2x fa-twitter"></i>
                </a>
              </div>
              <div class="list-inline-item">
                <a href="#" class="">
                  <i class="fa fa-2x fa-google-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="./assets/jquery/jquery.js"></script>
  <script src="./assets/popper/popper.js"></script>
  <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
</html>
