<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/alert.js}"></script>
</head>

<body>
    <header>
        <div class="container p-0">
            <!-- navigation -->
            <nav class="navbar navbar-expand-sm bg-warning navbar-light">
                <div class="container">
                    <!-- Brand -->
                    <a class="navbar-brand d-sm-none" href="/index">Logo</a>
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>

                            <!-- Dropdown -->
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="/properties" id="navbardrop"
                                    data-toggle="dropdown">
                                    Properties
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="./properties.html?type=single_room">Single Room</a>
                                    <a class="dropdown-item" href="./properties.html?type=bed_sitter">Bed Sitter</a>
                                    <a class="dropdown-item" href="./properties.html?type=other">Other</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact Us</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-2x fa-search"></i>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </nav>
        </div>

    </header>
    <main>
        <div class="container py-2">
            <div class="row mb-2">
                <div class="col-sm-8 offset-sm-2">
                    <h1 class="text-center main-title">Properties</h1>
                </div>
            </div>
            <!-- list of properties -->
            <div class="row mb-3 properties-list">
                <!-- filter and sort  -->
                <div class="col-sm-12 col-lg-4 mb-2 d-none d-lg-block filter-nav">
                    <div class="filter-nav-items">
                        <div class="form-row mb-1">
                            <div class="col-12">Price Range</div>
                            <div class="col-4 col-md-5">
                                <input type="number" name="price_min" id="price_min"
                                    class="form-control form-control-sm" min="0" placeholder="Min">
                            </div>
                            <div class="col-4 col-md-5">
                                <input type="number" name="price_max" id="price_max"
                                    class="form-control form-control-sm" min="200" placeholder="Max">
                            </div>
                            <div class="col-4 col-md-2">
                                <button class="btn btn-block btn-sm apply-btn" id="apply-price-btn">
                                    <i class="fa fa-filter"></i>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row mb-1">
                            <div class="col-sm-4">Location</div>
                            <div class="col-sm-8">
                                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Select Location
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="./properties.html?location=loc_1">Loc 1
                                        <span class="badge badge-danger pull-right">8</span>
                                    </a>
                                    <a class="dropdown-item" href="./properties.html?location=loc_2">Loc 2
                                        <span class="badge badge-danger pull-right">4</span>
                                    </a>
                                    <a class="dropdown-item" href="./properties.html?location=loc_n">Loc n
                                        <span class="badge badge-danger pull-right">2</span>
                                    </a>
                                    <a class="dropdown-item" href="./properties.html?location=all">All
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row mb-1">
                            <div class="col-sm-4">Capacity</div>
                            <div class="col-sm-8">
                                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Select Capacity
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/properties?capacity=single_room">Single Room
                                        <span class="badge badge-danger pull-right">4</span>
                                    </a>
                                    <a class="dropdown-item" href="/properties?capacity=bed_sitter">Bed Sitter
                                        <span class="badge badge-danger pull-right">7</span>
                                    </a>
                                    <a class="dropdown-item" href="/properties?capacity=one_bed_room">1 Bed Room
                                        <span class="badge badge-danger pull-right">1</span>
                                    </a>
                                    <a class="dropdown-item" href="/properties?capacity=all">All
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row mb-1">
                            <div class="col-12">Sort</div>
                            <div class="col-sm-7">
                                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Sort By
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item " data-sort-field="price">Price
                                    </a>
                                    <a class="dropdown-item" data-sort-field="capacity">Capacity
                                    </a>
                                    <a class="dropdown-item" data-sort-field="time">Time Uploaded
                                    </a>
                                    <a class="dropdown-item" data-sort-field="all">Default (time)
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check-inline">
                                    <input type="radio" class="form-check-input" name="sort_type" value="asc">
                                    <label for="asc" class="form-check-label mr-1">ASC</label>
                                    <input type="radio" class="form-check-input" name="sort_type" value="desc">
                                    <label for="desc" class="form-check-label">DESC</label>
                                </div>
                                <button class="btn btn-sm btn-block apply-btn" id="apply-sort-btn">Apply Sort</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-2 ">
                    <!-- filter and sort toggler -->
                    <div class="filter-nav-show position-fixed d-lg-none"
                        style="top:50%; z-index:2; margin-left:-10px;">
                        <i class="fa fa-2x fa-caret-left"></i>
                    </div>
                    
                    <!-- properties -->
                    <div class="properties">
                        <div class="property" id="property-1">
                            <div class="property-image">
                                <img src="../static/images/single-room-1.jpg" alt="" class="img-thumbnail img-fluid">
                            </div>
                            <div class="property-body p-2" >
                                <h3 class="title">Single Room</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatem ea? Aut
                                    libero quos rerum!
                                </p>
                                <p>Pay Ksh
                                    <span class="text-success small price mx-1">
                                        2400
                                    </span>
                                    /month
                                </p>
                                <p> Book at Ksh
                                    <span class="deposit mx-1">
                                        400
                                    </span>
                                </p>
                                <p>
                                    <span class="stock text-muted mr-1">5</span> in stock
                                </p>
                                <div class="action">
                                    <button class="btn btn-warning book-property-btn" data-property-id="1">Book Now</button>
                                    <a href="./property.html?slug=xxx" class="btn btn-link float-lg-right"> Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                        <div class="property" >
                           
                            <div class="property-image">
                                <img src="../static/images/single-room-2.jpg" alt="" class="img-thumbnail img-fluid">
                            </div>
                            <div class="property-body p-2">
                                <h3 class="title">Single Room</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatem ea? Aut
                                    libero quos rerum!
                                </p>
                                <p>Pay Ksh
                                    <span class="text-success small price mx-1">
                                        2400
                                    </span>
                                    /month
                                </p>
                                <p> Book at Ksh
                                    <span class="deposit mx-1">
                                        400
                                    </span>
                                </p>
                                <p>
                                    <span class="stock text-muted mr-1">5</span> in stock
                                </p>
                                <div class="action">
                                    <button class="btn btn-warning">Book Now</button>
                                    <a href="/property?slug=xxx" class="btn btn-link float-lg-right"> Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                        <div class="property ">
                            <div class="property-image">
                                <img src="../static/images/single-room-4.jpg" alt="" class="img-thumbnail img-fluid">
                            </div>
                            <div class="property-body p-2">
                                <h3 class="title">Single Room</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatem ea? Aut
                                    libero quos rerum!
                                </p>
                                <p>Pay Ksh
                                    <span class="text-success small price mx-1">
                                        2400
                                    </span>
                                    /month
                                </p>
                                <p> Book at Ksh
                                    <span class="deposit mx-1">
                                        400
                                    </span>
                                </p>
                                <p>
                                    <span class="stock text-muted mr-1">5</span> in stock
                                </p>
                                <div class="action">
                                    <button class="btn btn-warning">Book Now</button>
                                    <a href="/property?slug=xxx" class="btn btn-link float-lg-right"> Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- paging -->
            <div class="row mb-2">
                <div class="col-sm-4 mb-1">
                    <p>Page <span class="current-page mx-1 text-muted"> 1</span> of <span
                            class="pages text-primary">6</span></p>
                </div>
                <div class="col-6 col-sm-4 mb-1">
                    <select name="page_items" id="page_item">
                        <option disabled>Items per page</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div class="col-6 col-sm-4 mb-1">
                    <ul class="pagination pagination-sm">
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <i class="fa fa-arrow-left"> Previous</i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="fa fa-arrow-right"> Next</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!-- footer -->
        <div class="container footer">
            <div class="row p-2">
                <div class="col-sm">
                    <p class="lead text-sm-center">
                        Copyright &copy; 2021
                    </p>
                </div>
                <div class="col-sm">
                    <div class="list-inline text-sm-right">
                        <div class="list-inline-item ">
                            <a href="#" class="">
                                <i class="fa fa-2x fa-facebook"></i>
                            </a>
                        </div>
                        <div class="list-inline-item ">
                            <a href="#" class="">
                                <i class="fa fa-2x fa-twitter"></i>
                            </a>
                        </div>
                        <div class="list-inline-item ">
                            <a href="#" class="">
                                <i class="fa fa-2x fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script th:src="@{/assets/jquery/jquery.js}"></script>
<script th:src="@{/assets/popper/popper.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js"></script>

</html>