<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="../static/assets/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Resisdential Real Estate</title>
  </head>

  <body>
    <header>
      <div class="container p-0">
        <!-- navigation -->
        <nav class="navbar navbar-expand-sm bg-warning navbar-light">
          <div class="container">
            <!-- Brand -->
            <a class="navbar-brand d-sm-none" href="./index.html">Logo</a>
            <!-- Toggler/collapsibe Button -->
            <button
              class="navbar-toggler d-sm-none"
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
              <!-- Links -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./about.html">About</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown active">
                  <a
                    class="nav-link dropdown-toggle"
                    href="./properties.html"
                    id="navbardrop"
                    data-toggle="dropdown"
                  >
                    Properties
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="./properties.html?type=single_room"
                      >Single Room</a
                    >
                    <a
                      class="dropdown-item"
                      href="./properties.html?type=bed_sitter"
                      >Bed Sitter</a
                    >
                    <a class="dropdown-item" href="./properties.html?type=other"
                      >Other</a
                    >
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contact.html">Contact Us</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fa fa-2x fa-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="container py-2">
        <div class="row mb-2">
          <div class="col-sm-8 offset-sm-2">
            <h1 class="text-center main-title">Property</h1>
          </div>
        </div>
        <!-- property -->
        <div class="row">
          <!-- thumbnails -->
          <div class="col-12 col-md-1 mb-2">
            <div class="thumbnails">
              <img
                src="../static/images/single-room-1.jpg"
                alt=""
                class="mb-1 img-thumbnail active"
              />
              <img
                src="../static/images/single-room-2.jpg"
                alt=""
                class="mb-1 img-thumbnail"
              />
              <img
                src="../static/images/single-room-3.jpg"
                alt=""
                class="mb-1 img-thumbnail"
              />
              <img
                src="../static/images/single-room-4.jpg"
                alt=""
                class="mb-1 img-thumbnail"
              />
            </div>
          </div>
          <!-- current image -->
          <div class="col-12 col-md-5 mb-2">
            <div class="image">
              <img
                src="../static/images/single-room-1.jpg"
                alt=""
                class="img-fluid current_image"
              />
            </div>
          </div>
          <!-- brief details -->
          <div class="col-12 col-md-6 mb-2">
            <div class="details">
              <h3 class="title">Single Room</h3>
              <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe,
                voluptatem ea? Aut libero quos rerum!
              </p>
              <p>
                Pay Ksh
                <span class="text-success small price mx-1"> 2400 </span>
                /month
              </p>
              <p>
                Book at Ksh
                <span class="deposit mx-1"> 400 </span>
              </p>
              <p><span class="stock text-muted mr-1">5</span> in stock</p>
              <div class="action">
                <button class="btn btn-warning">Book Now</button>
              </div>
            </div>
          </div>
          <!-- more details -->
          <div class="col-12 col-md-8 offset-md-2 mb-2">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#description" data-toggle="tab"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#seller" data-toggle="tab">Seller</a>
              </li>
            </ul>
            <div class="tab-content py-2">
              <div class="tab-pane active" id="description">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th>Location</th>
                      <td>Njokerio</td>
                    </tr>
                    <tr>
                      <th>Apartment</th>
                      <td>Brothers</td>
                    </tr>
                    <tr>
                      <th>Capacity</th>
                      <td>Single Room</td>
                    </tr>
                    <tr>
                      <th>Dimensions(ft)</th>
                      <td>9 x 12</td>
                    </tr>
                    <tr>
                      <th>Monthly Payment</th>
                      <td>Ksh 2000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="seller">
                <table class="table table-bordered mb-2">
                  <tbody>
                    <tr>
                      <th>Name</th>
                      <td>Agent XYZ</td>
                    </tr>
                    <tr>
                      <th>Email</th>
                      <td>example@domain.com</td>
                    </tr>
                    <tr>
                      <th>Phone</th>
                      <td>2547-123-45678</td>
                    </tr>
                  </tbody>
                </table>
                <div class="mb-2">
                  <button type="button" class="btn btn-dark btn-sm">
                    Contact Seller
                  </button>
                  <div class="seller-form d-none">
                    <form action="#" name="seller-form" id="seller-form">
                      <p class="form-text">Contact Seller</p>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Your Name"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="eamil"
                          placeholder="Your Email"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="tel"
                          class="form-control"
                          id="phone"
                          name="phone"
                          placeholder="Your Phone Number"
                        />
                      </div>
                      <div class="form-group">
                        <textarea
                          class="form-control"
                          id="message"
                          name="message"
                          placeholder="Your Message"
                          rows="4"
                        ></textarea>
                      </div>
                      <button class="btn btn-dark">Send Message</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- footer -->
      <div class="container footer">
        <div class="row p-2">
          <div class="col-sm">
            <p class="lead text-sm-center">Copyright &copy; 2021</p>
          </div>
          <div class="col-sm">
            <div class="list-inline text-sm-right">
              <div class="list-inline-item">
                <a href="#" class="">
                  <i class="fa fa-2x fa-facebook"></i>
                </a>
              </div>
              <div class="list-inline-item">
                <a href="#" class="">
                  <i class="fa fa-2x fa-twitter"></i>
                </a>
              </div>
              <div class="list-inline-item">
                <a href="#" class="">
                  <i class="fa fa-2x fa-google-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="../static/assets/jquery/jquery.js"></script>
  <script src="../static/assets/popper/popper.js"></script>
  <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</html>
